* {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 82%;

}

header {
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 100px;

}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info li a img,
.info li img {
    max-width: 20px;
    max-height: 20px;
}

.header-line nav {
    display: flex;
    align-items: center;
}

.header-line {
    background-color: #808080;
}

.header-line .wrapper {
    display: flex;
    justify-content: space-between;
}

.header-line li {
    position: relative;
    list-style: none;
    margin-right: 60px;
    color: white;
}


.icon,
.iconn,
.iconnn {
    transition: transform 0.3s ease-in-out;
}

.icon:hover,
.iconn:hover,
.iconnn:hover {
    transform: scale(1.1);
    color: black;
}


.icon a:hover,
.iconn a:hover,
.iconnn:hover {
    transform: scale(1.1);
    color: black;
}

.header-line li a {
    color: white;
    text-decoration: none;
}





.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 40px;
}

.main-line {
    display: flex;
    flex-wrap: wrap;
}

.main-line nav {
    list-style: none;
}

.main-line li {
    display: flex;
    align-items: center;


}

.excs {
    color: #f2f2f2;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    
    
}

.main-line li a {
    text-decoration: none;
    color: black;
    margin-right: 60px;
    transition: transform 0.3s ease-in-out;
}

.main-title {
    font-size: 30px;
    font-weight: normal;
}


.main-line li a:hover {
    background-color: #f8f8f8;
    transform: scale(1.1);
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.main-top-container p {
    position: relative;
    line-height: 26px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: black;
}

.main-top-container-min {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.main-top-img {
    padding-left: 150px;
}

.central-ofice {
    background-color: #2E4961;
    padding: 30px 20px;
}

.central-ofice h5 {
    color: white;
    font-size: 15px;
}

.central-ofice p {
    position: relative;
    line-height: 26px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #808080;
    padding-left: 30px;

}



.top p::before {
    position: absolute;
    content: "";
    background-image: url('../image/office-building.png');
    background-size: cover;
    left: -5px;
    top: 0px;

    width: 20px;
    height: 20px;
}


.bottom p::before {
    position: absolute;
    content: "";
    background-image: url('../image/road.png');
    background-size: cover;
    left: -5px;
    top: 0px;

    width: 20px;
    height: 20px;
}

.main {
    margin-bottom: 100px;
}

.footer {
    background-color: #2E4961;

}

.footer-car img {
    width: 300px;
}

.footer-car p {
    line-height: 26px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #808080;
    padding-left: 30px;

}


.footer {
    background-color: #2E4961;
    padding: 20px 0;
}



.foote-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-car,
.goto {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
}

.footer-car img {
    max-width: 100%;
}

.goto ul {
    list-style: none;
}

.goto ul li {
    margin-bottom: 10px;
    position: relative;
}

.goto ul li a {
    text-decoration: none;
    color: white;
}

.goto p {
    line-height: 26px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #808080;

    margin-top: 20px;
}

.goto h5 {
    padding-bottom: 30px;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    color: #BAC3CB;
    font-weight: 300;
}



.gotop::before {
    position: absolute;
    content: "";
    background-image: url('../image/home.png');
    background-size: cover;
    left: -30px;
    top: -4px;

    width: 20px;
    height: 20px;
}


.goab::before {
    position: absolute;
    content: "";
    background-image: url('../image/about-us.svg');
    background-size: cover;
    left: -30px;
    top: -4px;

    width: 20px;
    height: 20px;
}

.goon::before {
    position: absolute;
    content: "";
    background-image: url('../image/contact.png');
    background-size: cover;
    left: -30px;
    top: -4px;

    width: 20px;
    height: 20px;
}


.goto ul li a:hover {
    color: #1e90ff;
    transition: 0.4s;
}


hr.line {
    border: 0;
    height: 1px;
    /* Товщина лінії */
    background-color: #BAC3CB;
    /* Колір лінії */
    margin: 10px 0;
    /* Відступи навколо лінії */
}


.footer-bootom-contain {
    display: flex;
    align-items: center;
}

.footer-line {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px 0 12px;
}


.footer-bootom-contain-text p {
    line-height: 26px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #808080;
}






.footer-bootom-contain {
    display: flex;
    justify-content: space-between;
}

.footer-bootom-contain-button a {
    display: inline-block;
    background-color: transparent;
    margin-right: 10px;
    /* Відступ між кнопками */
}

.footer-bootom-contain-button img {
    width: 30px;
    /* Ширина картинок */
    height: auto;
    /* Автоматична висота */
    border-radius: 50%;
    /* Кругла форма */
}

.email-button img {

    padding: 2px;
}

.phone-button img {

    padding: 1px;
}







@media screen and (max-width: 400px) {
    .main-top-img img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 700px) {
    .header-line li {
        margin-right: 0px;
    }

    .info {
        justify-content: center;
    }

    .wrapper {
        width: 95%;
    }



}


@media screen and (max-width: 960px) {
    .main-line {
        justify-content: center;
        flex-wrap: wrap;
    }

}




@media screen and (max-width: 500px) {
    .blue-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }

    .blue-block ul {

        text-align: center;
        flex-wrap: wrap;
    }

    .blue-block li {

        flex: 1 1 50%;
    }
}



* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.figure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figure {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.figure img {
    width: 30%;
    height: 30%;
    height: auto;
}

.figure p {
    margin-top: 10px;
}


.figure {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.figure img {
    width: 10%;
    height: auto;
    border-radius: 5px;
}

.figure p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Hover стилі */
.figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.slideshow-container {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* чтобы изображения заполняли всю площадь без искажения */
}

body {
    background-image: url(../image/bag.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* фон будет фиксированным при прокрутке страницы */
    height: 100vh;
    /* высота равна 100% высоты видимой области окна браузера */
}
















